@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300;1,400&display=swap');

body{
  box-sizing: border-box;
  margin: 0;
  width: 100%;
}

a:hover{
  text-decoration: none;
  color: #f56464;
  transition: color 0.5s;
}

a {
  color: red;
}

@keyframes fadeIn{
  from{
    transform: translateX(-2rem);
    opacity: 0;
  }

  to{
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes dropIn{
  from{
    transform: translateY(-1rem);
    opacity: 0;
  }

  to{
    transform: translateY(0);
    opacity: 1;
  }
}

body{
  font-family: "Work Sans", sans-serif;
  font-size: 12px;
  box-sizing: border-box; 
  overflow-x: none;
}

.headshot{
  width: 100%;
  box-shadow: 3px 3px 5px black;
}

.headshot-col{
  display:flex;
  align-items: flex-end;
}

@media only screen and (min-width: 800px){
  .headshot{
    max-width: 80%;
  }
}

@media only screen and (max-width: 576px){
  .headshot{
    display:block;
    width: 50%;
    margin: 1rem auto;
  }
}

.drop-in{
  animation: dropIn 0.75s;
  position: relative;
}

.fade-in{
  animation: fadeIn 0.75s;
}

.header{
  text-transform: uppercase;
  color: white;
  font-weight: 800;
  text-shadow: 1px 1px 1px blue;
}

.project-row{
  padding: 4rem;
  animation: fadeIn 0.75s;
  margin-right: 0;
  margin-left: 0;
}

.project-row:hover{
  opacity: 0.75;
  transition: opacity 0.75s;
}

.background-image{
  background-image: url('../images/background.jpg');
  height: 310px;
  background-position: center;
  background-size: cover;
  padding: 3rem;
  position: relative;
  width: 100%;
}

.slashes{
  color: white;
  font-weight: 800;
  font-size: 4rem;
  position: absolute;
  z-index: 1;
  right: 40px;
  top: 255px;
}

.projects-title{
  position: absolute;
  z-index: 1;
  font-size: 2.5rem;
  right: 40px;
  top: -40px;
  color: red;
  font-weight: 800;
  background: white;
  padding: 0;
  box-shadow: 2px 2px 1px black;
  height: fit-content;
}

.projects-title p{
  margin: 0 1rem;
}

@media only screen and (max-width: 510px){
  .slashes{
    font-size: 2.5rem;
    top: 285px;
    right: 80px;
  }
}

@media only screen and (max-width: 570px){
  .projects-title{
    font-size: 1.5rem;
    top: -20px;
    right: 40px;
  }
}

h3{
  text-transform: uppercase;
  margin-left: 2.9rem;
  margin-top: 1.5rem;
}

h4{
  text-align: center;
}

.menu{
  display: flex;
  padding: 0.5rem;
  font-size: 0.8rem;
  justify-content: flex-end;
  width: 100%;
}

.menu-items{
  display: flex;
  flex-direction: horizontal;
  list-style: none;
  margin-bottom: 0;
}

.menu-items li{ 
  margin: 0 1.5rem;
  background: #FFFFFF;
}

.menu-items a{
  color: red;
}

.menu-items a:hover{
  text-decoration: none;
}


.menu-items li:hover{
  text-decoration: none;
  background-color: #fcf75b;
  transition: background-color 1.5s;
}

@media only screen and (max-width: 420px){
  .menu-items li{ 
  margin: 0 0.5rem;
}
}

.portfolio-text{
  color: white;
}

.bio-row{
  background: #f7f49c;
  padding: 2rem;
  width: 100%;
  margin: 0;
}

@media only screen and (min-width: 715px){
  .bio-col{
    line-height: 2rem;
  }
}

.first{
  background:#D5D5D5;
  color: black;
}

.second{
  background: #AAAAAA;
  color: black;
}

.third{
  background: #808080;
  color: white;
}

.fourth{
  background: #2A2A2A;
  color: white;
}

.footer{
  background: #f7f49c;
  color: black;
  padding: 2rem;
  width: 100%;
}

.footer-icon{
  display: inline-block;
  font-size: 2rem;
  color: black;
  opacity: 1;
  margin: 1rem 1rem;
}

.footer-icon:hover{
  opacity: 0.5;
  transition: opacity 1s;
}

.row-link{
  display: block;
}

.row-link:hover{
  text-decoration: none;
}

.project-links-black{
  text-align: center;
  font-size: 2rem;
}

.project-links-black a{
  color: black;
  margin: 1rem 0.5rem;
}

.project-links-black a:hover{
  color: white;
  margin: 1rem 0.5rem;
  transition: color 0.75s;
}
.project-links-white{
  text-align: center;
  font-size: 2rem;
}

.project-links-white a{
  color: white;
  margin: 1rem 0.5rem;
}

.project-links-white a:hover{
  color: black;
  margin: 1rem 0.5rem;
  transition: color 0.75s;
}